@import '_vars.scss';

.about-your-self-textarea {
    margin-bottom: 34px;

    .article {
        h4 {
            margin-bottom: 4px;
        }

        p {
            padding-left: 2px;
            letter-spacing: -.05px;
        }
    }

    @import '../elements/_textarea.scss';
}