@import '_vars.scss';

.tech-list {
    margin-bottom: 40px;

    li {
        display: inline-block;
        vertical-align: top;

        &.box-1 {
            width: 254px;
        }

        &.box-2 {
            width: 266px;
        }

        &.box-3 {
            width: 242px;

            .linkToBlog {
                margin-left: 5px;
            }
        }
    }
}