@import '_vars.scss';

@import '_fonts.scss';

@import '_myReset.scss';

@import '_default.scss';

@import '_sprite2x.scss';

.page {
    width: $w-page-default;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-image: url(../img/bg.png);
    background-repeat: repeat-y;

    .wrapper {
        margin-left: 113px;
        margin-right: 117px;
    }

    .logo,
    .logo a,
    .icon,
    .helper-image__stamp {
        display: inline-block;
        vertical-align: top;
    }

    .helper-image__stamp {
        position: absolute;
        top: 48px;
        right: 54px;
    }

    header {
        padding-top: 62px;
        padding-bottom: 40px;
    }

    @import './elements/_input__text__email__date.scss';

    main {
        .title-image {
            text-align: center;
            padding-bottom: 59px;

            img {
                margin-left: -40px;
            }
        }

        @import './components/_form-about-person.scss';

        @import './components/_article.scss';

        @import './components/_about-your-self-checkbox.scss';

        @import './components/_about-your-self-textarea.scss';

        @import './components/_level-up-js.scss';

        @import './components/_input-item.scss';

        @import './components/_future-plans.scss';

    }

    .bottom-line {
        background-image: url(../img/line@1X.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 4px;
    }

    .form-item label,
    .label-text {
        font-size: 22px;
        line-height: 50px;
        font-family: 'PT_Sans-Web-Bold';
        font-weight: bold;
        color: #2f1b15;
    }


    footer {
        padding-bottom: 60px;

        .calendar-form {
            .form-item {
                display: flex;

                .calendar {
                    position: relative;
                    width: 212px;

                    input[type='text'] {
                        letter-spacing: -.25px;
                        position: relative;
                        top: -7px;
                        left: 30px;
                    }

                    .bottom-line {
                        width: 100%;
                        height: 60px;
                        position: absolute;
                        top: 32px;
                        left: 15px;
                    }
                }
            }
        }
    }
}