extends layouts/layout

block content
    section.title-image
        img(src="assets/img/case@1X.png", alt="дело", title='дело')
    section.form-about-person
        include components/form-about-person
    section.about-your-self-checkbox
        .article
            h4 Расскажите о себе чекбоксами 
            p Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. 
                | Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. 
                | Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
    section.technologies
        ul.tech-list
            include components/tech-checkbox
    section.level-up-js
        .article
            h4 Уровень владения JavaScript
        include components/range-slider
    section.about-your-self          
        .article
            h4 Расскажите о себе словами
            p Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. 
                | Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
            textarea.textarea(name="about-your-self", cols="3", rows="3", placeholder='Ну-ууу-уу...\n' + 'Ээээ...')
                | Мне нравится заниматься вёрсткой и front-end, интересно всё новое в мире WEB UI.
                | Готов учиться у опытных разработчиков и делиться своими навыками с другими.
    section.future-plans
        .article
            h4 Какие у вас планы на будущее?
            p Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
        ul.future-plans-list
            include components/future-plans