extends layouts/layout

block content
    section.title-image
        img(src="assets/img/case@1X.png", alt="дело", title='дело')
    section.form-about-person
        include components/form-about-person
    section.about-your-self-checkbox
        .article
            h4 Расскажите о себе чекбоксами 
            p Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. 
                | Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. 
                | Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
    section.technologies
        ul.tech-list
            include components/tech-checkbox
    section.level-up-js
        .article
            h4 Уровень владения JavaScript
        .sliderContainer.bottom-line
            input.slider(type="range" min="1" max="100" value="50")
            ul.deviders-box
                li.devider-vert-md
                li.devider-vert-sm
                li.devider-vert-sm
                li.devider-vert-md
            ul.devider-steps
                li
                    strong Не владею
                li 
                    strong Использую готовые решения
                li
                    strong Использую готовые решения
                    strong и умею их переделывать
                li
                    strong Пишу сложный JS c нуля
    section.about-your-self          
        .article
            h4 Расскажите о себе словами
            p Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. 
                | Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
    section.future-plans
        .article
            h4 Какие у вас планы на будущее?
            p Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
        ul.future-plans-list
            include components/future-plans