.calendar-form
    .form-item
        span.label-text Дата заполнения
        ul.calendar
            li
                input(type="text" id="datepicker" value='01.01.2019')
            li.bottom-line