.calendar-form
    .form-item
        span.label-text Дата заполнения
        ul.calendar
            li
                input(type="date", name="calendar", value="2019-01-01")
            li.bottom-line