.sliderContainer
    input.slider(type="range" min="1" max="100" value="50")
    ul.deviders-box
        li.devider-vert-md
        li.devider-vert-sm
        li.devider-vert-sm
        li.devider-vert-md
    ul.devider-steps
        li
            strong Не владею
        li 
            strong Использую готовые решения
        li
            strong Использую готовые решения
            strong и умею их переделывать
        li
            strong Пишу сложный JS c нуля