@import '_vars.scss';

input[type='text'],
input[type='email'],
input[type='date'] {
    color: $input-color;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Courier New';
    background-color: transparent;
    border: none;
}