@import '_vars.scss';

textarea {
    overflow-x: hidden;
    overflow-wrap: break-word;
    font-family: Courier New;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    display: block;
    width: 100%;
    min-height: 180px;
    overflow: hidden;
    background-color: transparent;
    resize: none;
    border: none;

    &.textarea {
        padding-left: 4px;
        background: transparent url(../img/textarea-bg.png) repeat-y 0 48px;
        background-size: 100%;
    }
}