- var metaTitle = 'cssr_resume';
-
    var userProfile = {
        fio: 'Шкарлат Дмитрий Васильевич',
        year: '1986',
        location: 'г. Севастополь, Россия',
        skype: 'dreamcast29',
        mail: 'shkarlat.dmitry@yandex.ru'
    }

<!doctype html>
html(lang="ru")
    head
        include ../includes/meta
        title #{metaTitle}
    body
        .page
            .helper-image__stamp
                img(src="assets/img/secret@1X.png", alt="секретно заполнено собственноручно", title='секретно заполнено собственноручно')
            header.wrapper
                include ../components/header
            main
                block content
            footer.wrapper
                include ../components/footer